.pad{
    box-sizing: border-box;
    width: 23%;
    padding-bottom: 16vh;
    background-color: #14ABBD;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    margin: 1%;
}

.pad:hover{
    background-color: blueviolet;
}