.controls-wrapper{
    position: relative;
    bottom: 0;
    left: 0;
    margin: 1vh 0;
}
.file-selector-wrapper{
    display: inline;
}
.ctl-btn{
    height: 100%;
    width: fit-content;
    border: 1px solid #F2EDEA;
    color: #F2EDEA;
    background-color: transparent;
    padding: 0.5vh 1vw;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.03em;
    font-size: 1.2em;
    font-weight: 800;
    margin: 1vh 1vw 0vh 0vw;
    outline: none;
}
.ctl-btn:hover{
    color: #F2EDEA;
    background-color: #0B0002;
    border: 1px solid #0B0002;
}

.ctl-select-wrapper{
    display: inline;
    border: 1px solid #F2EDEA;
    color: #F2EDEA;
    background-color: transparent;
    padding: 0.5vh 1vw;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.03em;
    margin: 1vh 1vw 0vh 0vw;
    outline: none;
}

.ctl-select{
    width: 30%;
    border: none;
    background-color: transparent;
    outline: none;
    text-transform: uppercase;
    font-size: 1em;
    overflow: hidden;

}